<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style_video.css') }}">
        </head>
        <body>
                <header>
                        <div class="title">
                                <h1>Video Player</h1>
                        </div>
                </header>

                <div class="content">
                        <div class="video_container">
                                <img src="{{ url_for('video_feed') }}" width="100%">
                        </div>
        
                        <div class="control_panel">
                                <form method="post" action="/video">
                                        <div class="adjustment">
                                                <h2>Project: {{ project_name }}</h2>
                                                <p>Exposure (may not work with all cameras): {{ exposure_value }}</p>
                                                <input type="range" id="exposure_slider" name="exposure_slider" min="-7" max="7" value="{{ exposure_value }}">
                                                <br>
                                                <input type="submit" value="Update">
                                        </div>
                                        <div class="toggle">
                                                <p>Motion detection: {{ motion_detection }}</p>
                                                <input type="submit" name="motion_detection" value="Toggle">
                                                <input type="submit" name="show_motion_detection" value="Toggle display">
                                                <input type="submit" name="update_background" value="Update Background">

                                                <p>Facial recognition: {{ facial_recognition }}</p>
                                                <input type="submit" name="facial_recognition" value="Toggle">
                                                <input type="submit" name="show_facial_recognition" value="Toggle display">

                                                <p>Edge detection: {{ edge_detection }}</p>
                                                <input type="submit" name="edge_detection" value="Toggle">
                                                
                                                <br><br>
                                                <input type="submit" name="Stop" value="Stop">
                                                <input type="submit" name="Restart" value="Restart">
                                        </div>
                                </form>
                        </div>
                </div>
        </body>
</html>